$text-color: #dedede;

@import "bootstrap/dist/css/bootstrap.min.css";

.item-row {
    color: $text-color;
    align-content: center;
}

.item-card {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto; 
    padding: 30px 0px;
    height: 80%;
}

.school {
    width: 100%;
    text-align: left;
    padding: 0px 30px;
    font-size: 20px;;
}

.major {
    width: 100%;
    text-align: left;
    padding: 0px 30px ;
    font-size: 15px;;
}

 .accordion {
    margin: 10px;
} 

.accordion-header {
    text-align: left;
    background-color: #5c5c5c;
    border: 2px solid black;
}

.card-bottom {
    border-bottom: 3px solid black;
}

.modules-body {
    color: #3d3d3d;
    background-color: #999999;
}
