.sortable-item {
    width: 100%;
    padding: 0px 8px;
    display: flex;
    font-size: 13px;    
    line-height: 24px;
}

.form-check-label {
    width: 220px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.icon-style {
    outline:0;
    vertical-align: baseline;
}