.App {
    text-align: center;
    font-family: 'Roboto Slab';
}

.App-body {
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 2px;
}

.footer-cc {
    margin-top: 440px;
    height: 30px;
    color: white;
    padding-bottom: 40px;
}