.App {
    background-color: #282c34;
    height: 100vh;
    text-align: center;
    font-family: 'Roboto Slab';
}

.App-body {
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 2px;
}